{{ define "main" }}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="content">{{ . }}</div>
    {{ end }}
  </header>

  {{ if .Pages }}
    <ol class="post-list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
          {{ with .Summary }}
            <p>{{ . | plainify }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  {{ else }}
    <p>这里还没有内容。</p>
  {{ end }}
{{ end }}
